<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<aop:config>
		<aop:aspect id="introduction" ref="counterIntroduction">
			<aop:declare-parents 
				types-matching="org.springaop.chapter.four.schema.introduction.*"
				implement-interface="org.springaop.chapter.four.schema.introduction.CounterTracker" 
				default-impl="org.springaop.chapter.four.schema.introduction.CounterTrackerImpl"/>
			  <aop:after pointcut="execution(* org.springaop.chapter.four.schema.introduction.*.*(..)) and this(counter)"
                method="increase" />
		</aop:aspect>
	</aop:config>

	<bean id="counterIntroduction" class="org.springaop.chapter.four.schema.introduction.CounterIntroduction" />

	<bean id="cube" class="org.springaop.chapter.four.schema.introduction.Cube" />

	<bean id="titanium" class="org.springaop.chapter.four.schema.introduction.Titanium" />
</beans>