<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="animal1" class="org.springaop.chapter.three.autoproxy.domain.AnimalImpl">
		<property name="paws" value="2" />
	</bean>
	
	<bean id="animal2" class="org.springaop.chapter.three.autoproxy.domain.AnimalImpl">
		<property name="paws" value="4" />
	</bean>
	
	<bean id="animal3" class="org.springaop.chapter.three.autoproxy.domain.AnimalImpl">
		<property name="paws" value="1000" />
	</bean>
	
	<bean id="swapper" class="org.springframework.aop.target.HotSwappableTargetSource">
		<constructor-arg>
			<ref local="animal1" />
		</constructor-arg>
	</bean>
	<bean id="swappable" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="targetSource">
			<ref local="swapper" />
		</property>
	</bean>

</beans>